<a href="https://colab.research.google.com/github/CateMerfeld/class_work/blob/main/Copy_of_Day_81_Lecture_1_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Day 76 Lecture 1 Assignment

In this assignment, we will learn about the Dask library. We will use a json file containing the novel War and Peace loaded below and analyze the text.

In [7]:
# !pip install dask[complete] --quiet 
# !pip install aiohttp --quiet
# import dask.bag as db
# import json
# !pip install requests

# tolstoy = db.read_text('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Big%20Data/2600-0.txt')

Above, we have loaded the novel War and Peace by Tolstoy into a Dask bag. Print the first 10 rows in the novel using the Dask bag.

In [6]:
tolstoy.take(10)

('\ufeffBOOK ONE: 1805\n',
 '\n',
 '\n',
 '\n',
 '\n',
 '\n',
 'CHAPTER I\n',
 '\n',
 '“Well, Prince, so Genoa and Lucca are now just family estates of the\n',
 'Buonapartes. But I warn you, if you don’t tell me that this means war,\n')

You may notice that there are many blank rows (rows containing only `\n`) Filter these rows and print the first 10 non blank rows in the novel.

In [25]:
#Answer below:
def not_blank(x):
  return x != '\n'

list(tolstoy.filter(not_blank))[:11]

['\ufeffBOOK ONE: 1805\n',
 'CHAPTER I\n',
 '“Well, Prince, so Genoa and Lucca are now just family estates of the\n',
 'Buonapartes. But I warn you, if you don’t tell me that this means war,\n',
 'if you still try to defend the infamies and horrors perpetrated by that\n',
 'Antichrist—I really believe he is Antichrist—I will have nothing\n',
 'more to do with you and you are no longer my friend, no longer my\n',
 '‘faithful slave,’ as you call yourself! But how do you do? I see I\n',
 'have frightened you—sit down and tell me all the news.”\n',
 'It was in July, 1805, and the speaker was the well-known Anna Pávlovna\n',
 'Schérer, maid of honor and favorite of the Empress Márya Fëdorovna.\n']

We would like to count the frequency of all words in the novel. The first step is to remove the `\n` from the end of each string. Do this using the map function. Inside the map function write a lambda that will replace the string `\n` with `''`.

In [14]:
#Answer below:
clean = tolstoy.map(lambda x: x.replace('\n', ''))
clean.take(10)

('\ufeffBOOK ONE: 1805',
 '',
 '',
 '',
 '',
 '',
 'CHAPTER I',
 '',
 '“Well, Prince, so Genoa and Lucca are now just family estates of the',
 'Buonapartes. But I warn you, if you don’t tell me that this means war,')

Next, split each row on the space (use a lambda function inside a map). Then apply the flatten function to create a list of all words in the novel.

In [22]:
# Answer below:
split = clean.map(lambda x: x.split(' ')).flatten()

Using the frequencies function, return the top 10 words in the novel and their frequency

In [23]:
# Answer below:
freqs = dict(split.frequencies(sort=True))
list(freqs.items())[:11]

[('the', 31701),
 ('and', 20559),
 ('to', 16320),
 ('of', 14852),
 ('', 14800),
 ('a', 10018),
 ('in', 8228),
 ('he', 7631),
 ('his', 7630),
 ('that', 7230),
 ('was', 7189)]